# 3~5시에 스타벅스 방문한 사람 찾기

In [3]:
# starbucks id
import pymysql,pandas as pd
conn = pymysql.connect(host='192.168.0.50', port=3306, user='eums', password='eums00!q', db='eums-shared', charset='utf8')
curs = conn.cursor(pymysql.cursors.DictCursor)
curs.execute("select ID FROM MEUMS_COMPANY where CO_NAME regexp '스타벅스';")
comp_p = pd.DataFrame( curs.fetchall() )#[['ID','CO_NAME','CATE','CATE1','ADDR']]
conn.close()
print(comp_p.shape)
comp_p.head()

(1146, 1)

        ID
0  8017034
1   561760
2  5108332
3  6021337
4  7742346

In [40]:
# starbucks user(15~17pm) 
import pymysql, pandas as pd
conn = pymysql.connect(host='192.168.0.50', port=3306, user='eums', password='eums00!q', db='eums-cj-business', charset='utf8')
curs = conn.cursor(pymysql.cursors.DictCursor)
curs.execute("select * from MEUMS_COMP_REVISIT_HIS WHERE ID between 0 and 100000;")
data = pd.DataFrame( curs.fetchall() ) #[['EPOPCON_ID','COMPANY_ID','DEAL_DT','CARD_NAME','PAYMENT']]
conn.close()
data.head()

ValueError: DataFrame constructor not properly called!

# cjcis15a3933b371e42756fbe7c4a2가 방문한 상점 보기

In [5]:
conn = pymysql.connect(host='133.186.135.222', port=13306, user='eums', password='eums00!q',db='eums-business', charset='utf8')
curs = conn.cursor(pymysql.cursors.DictCursor)
curs.execute("select * from MEUMS_COMP_REVISIT_HIS WHERE EPOPCON_ID = 'cjcis15a3933b371e42756fbe7c4a2' ;")
comp_p = pd.DataFrame( curs.fetchall() )[['DEAL_DT','COMPANY_ID','CARD_NAME','PAYMENT']]
conn.close()
print(comp_p.shape)
comp_p.head()

(287, 4)

              DEAL_DT  COMPANY_ID   CARD_NAME PAYMENT
0 2018-01-01 18:33:31       26989  우리카드(6573)    7700
1 2018-02-16 22:22:15       26989  우리카드(6573)    9450
2 2018-02-11 22:30:03       26994  우리카드(6573)    4500
3 2018-03-22 23:29:04       34629  우리카드(6573)    9000
4 2018-02-06 17:18:18      150993  우리카드(6573)   10100

In [6]:
str(tuple(comp_p.COMPANY_ID.unique()))

'(26989, 26994, 34629, 150993, 194574, 202046, 267153, 322549, 328068, 334596, 391690, 423576, 433105, 445806, 469857, 590669, 710170, 729813, 762740, 783107, 854704, 875271, 945059, 954048, 2502184, 2974922, 3642111, 4449372, 4684905, 4984806, 5052755, 5110819, 5277068, 5364720, 5404044, 5438916, 5638264, 5817539, 5817550, 5823451, 5857475, 5896458, 5924419, 6021121, 6042092, 6258709, 6448290, 6661243, 6710959, 6738739, 6764996, 6890435, 6950135, 7040037, 7090925, 7248056, 7499101, 7516943, 7564964, 7594831, 7706255, 7764778, 7807515, 7846162, 7959501, 8056252, 8061960, 8062913, 8069897, 8113676, 8121579, 8121588, 8130489, 8140358, 8150322, 8180800, 8248591, 8255961, 8316842, 8345940)'

In [8]:
conn = pymysql.connect(host='133.186.143.151', port=13306, user='eums', password='eums00!q', db='eums-shared', charset='utf8')
curs = conn.cursor(pymysql.cursors.DictCursor)
curs.execute("select * FROM MEUMS_COMPANY where ID IN "+str(tuple(comp_p.COMPANY_ID.unique()))+";")
company = pd.DataFrame( curs.fetchall() )[['ID','CO_NAME','CATE','CATE1','ADDR']]
conn.close()
print(company.shape)
company.head()

(80, 5)

,ID,CO_NAME,CATE,CATE1,ADDR
0,26989,CU 백마5단지점,마트,편의점,경기 고양시 일산동구 마두동 717 백마마을분산상가동 102~104
1,26994,CU 백석밀라트점,마트,편의점,경기 고양시 일산동구 백석동 1303-1 현대밀라트2차A동1층5-1호
2,34629,GS25 서정마을점,마트,편의점,"경기 고양시 덕양구 서정마을1로4-13, 행신지구상업용지 B-7블럭 103호 (행..."
3,150993,김영숙피부과,의료/건강,병원,경기 고양시 일산동구 백석동 1194
4,194574,누리마을감자탕 구로점,외식,한식,서울 구로구 구로동 1124-77

In [12]:
company['COMPANY_ID']=company['ID']
del company['ID']

# Merge

In [13]:
train = pd.merge(comp_p,company, how='inner', on = ['COMPANY_ID'])
print(train.shape)
train.head()

(287, 8)

,DEAL_DT,COMPANY_ID,CARD_NAME,PAYMENT,CO_NAME,CATE,CATE1,ADDR
0,2018-01-01 18:33:31,26989,우리카드(6573),7700,CU 백마5단지점,마트,편의점,경기 고양시 일산동구 마두동 717 백마마을분산상가동 102~104
1,2018-02-16 22:22:15,26989,우리카드(6573),9450,CU 백마5단지점,마트,편의점,경기 고양시 일산동구 마두동 717 백마마을분산상가동 102~104
2,2018-02-11 22:30:03,26994,우리카드(6573),4500,CU 백석밀라트점,마트,편의점,경기 고양시 일산동구 백석동 1303-1 현대밀라트2차A동1층5-1호
3,2018-03-22 23:29:04,34629,우리카드(6573),9000,GS25 서정마을점,마트,편의점,"경기 고양시 덕양구 서정마을1로4-13, 행신지구상업용지 B-7블럭 103호 (행..."
4,2018-02-06 17:18:18,150993,우리카드(6573),10100,김영숙피부과,의료/건강,병원,경기 고양시 일산동구 백석동 1194

In [20]:
#train.sort(['DEAL_DT','CATE'])
train.sort_values(by=['DEAL_DT','CATE'])

,DEAL_DT,COMPANY_ID,CARD_NAME,PAYMENT,CO_NAME,CATE,CATE1,ADDR
52,2017-12-20 11:47:45,3642111,우리카드(6573),3000,택시,교통,택시,서울특별시 서초구 서초동 1557-7
202,2017-12-20 11:49:03,6890435,우리카드(6573),3500,이디야커피전문점 가능서부점,카페/디저트,카페,경기 의정부시 가능동 644-8
141,2017-12-20 12:07:25,4984806,우리카드(6573),335860,LG유플러스(LG U+),통신,대리점,서울특별시 용산구 한강로3가 65-228
203,2017-12-20 12:08:52,6890435,우리카드(6573),22300,이디야커피전문점 가능서부점,카페/디저트,카페,경기 의정부시 가능동 644-8
53,2017-12-21 16:44:36,3642111,우리카드(6573),6200,택시,교통,택시,서울특별시 서초구 서초동 1557-7
8,2017-12-21 17:03:47,267153,우리카드(6573),14700,동원텔약국,의료/건강,약국,경기 고양시 덕양구 화정동 969
54,2017-12-21 17:15:30,3642111,우리카드(6573),3500,택시,교통,택시,서울특별시 서초구 서초동 1557-7
55,2017-12-22 11:53:08,3642111,우리카드(6573),3100,택시,교통,택시,서울특별시 서초구 서초동 1557-7
37,2017-12-22 23:55:04,854704,우리카드(6573),11000,진로마트,마트,슈퍼마켓,서울 서대문구 냉천동 171-1
56,2017-12-23 11:46:55,3642111,우리카드(6573),3000,택시,교통,택시,서울특별시 서초구 서초동 1557-7
254,2017-12-23 18:10:16,8130489,우리카드(6573),5000,이디야커피 백석역점,카페/디저트,카페,경기 고양시 일산동구 백석동 1308
166,2017-12-23 22:18:29,5817539,우리카드(6573),5500,GS25 마두역점,마트,편의점,경기 고양시 일산동구 마두동 805-1
57,2017-12-24 00:19:16,3642111,우리카드(6573),9720,택시,교통,택시,서울특별시 서초구 서초동 1557-7
58,2017-12-24 00:58:18,3642111,우리카드(6573),10680,택시,교통,택시,서울특별시 서초구 서초동 1557-7
6,2017-12-25 12:30:43,202046,우리카드(6573),30000,다니엘동물병원,의료/건강,동물병원,서울 서초구 서초동 1487-1
47,2017-12-25 22:59:28,954048,우리카드(6573),18000,파리바게뜨 일산삼성점,카페/디저트,베이커리,경기 고양시 일산동구 마두동 752 1층
59,2017-12-27 12:28:59,3642111,우리카드(6573),3700,택시,교통,택시,서울특별시 서초구 서초동 1557-7
188,2017-12-27 13:31:03,6021121,우리카드(6573),24000,스타벅스 백석역DT점,카페/디저트,카페,경기 고양시 일산동구 백석동 1296-3
60,2017-12-27 23:26:07,3642111,우리카드(6573),7600,택시,교통,택시,서울특별시 서초구 서초동 1557-7
61,2017-12-28 01:08:16,3642111,우리카드(6573),8040,택시,교통,택시,서울특별시 서초구 서초동 1557-7
45,2017-12-28 11:19:32,875271,우리카드(6573),20000,천지천,외식,중식,서울특별시 송파구 잠실동 196-8
62,2017-12-28 18:58:55,3642111,우리카드(6573),3000,택시,교통,택시,서울특별시 서초구 서초동 1557-7
161,2017-12-28 22:19:58,5438916,우리카드(6573),9600,이디야커피 백석역점,카페/디저트,카페,경기 고양시 일산동구 백석동 1308
168,2017-12-28 22:50:51,5823451,우리카드(3650),2000,세븐일레븐 백석역점,마트,편의점,경기도 고양시 일산동구 백석동1308 시티프라자 124호
157,2017-12-28 23:01:22,5364720,우리카드(6573),16000,팝스디브이디영화관 오산점,문화,영화,경기도 오산시 원동 762-16 명동빌딩 4층
255,2017-12-29 18:40:03,8130489,우리카드(6573),5000,이디야커피 백석역점,카페/디저트,카페,경기 고양시 일산동구 백석동 1308
183,2017-12-29 22:25:08,5896458,우리카드(6573),33000,올리브영 태평로1가점,뷰티,화장품,서울 중구 태평로1가 62-2
209,2017-12-30 09:39:21,7040037,우리카드(6573),25850,교통비,교통,버스,서울특별시 서초구 서초동 1557-7
231,2017-12-30 11:40:48,8062913,우리카드(6573),4500,GS25 백마스타점,마트,편의점,경기 고양시 일산동구 마두동 752
10,2017-12-30 18:05:12,328068,우리카드(6573),7000,맛나족발,외식,한식,경기 고양시 일산동구 백석동 1351
...,...,...,...,...,...,...,...,...
193,2018-03-18 10:30:09,6710959,우리카드(6573),6500,이니스프리 일산마두점,뷰티,화장품,경기 고양시 일산동구 마두동 752 삼성프라자 1층
190,2018-03-18 12:31:39,6258709,우리카드(6573),4500,STORYWAY 목포역,마트,슈퍼마켓,전남 목포시 호남동 1-1
131,2018-03-18 19:52:49,3642111,우리카드(6573),3600,택시,교통,택시,서울특별시 서초구 서초동 1557-7
132,2018-03-18 23:14:45,3642111,우리카드(6573),7800,택시,교통,택시,서울특별시 서초구 서초동 1557-7
189,2018-03-19 10:46:27,6042092,우리카드(6573),3000,도로시앤샌드위치,외식,양식,서울특별시 중구 태평로2가 360-1
133,2018-03-19 12:34:20,3642111,우리카드(6573),7600,택시,교통,택시,서울특별시 서초구 서초동 1557-7
259,2018-03-19 12:36:51,8140358,우리카드(6573),6000,커피맨션로스터,카페/디저트,카페,경기 화성시 반정동 606-4
134,2018-03-19 23:04:03,3642111,우리카드(6573),7800,택시,교통,택시,서울특별시 서초구 서초동 1557-7
152,2018-03-20 10:59:06,5052755,우리카드(6573),6000,스타벅스 일산백마점,카페/디저트,카페,경기 고양시 일산동구 마두동 751
153,2018-03-20 12:09:02,5052755,우리카드(6573),19500,스타벅스 일산백마점,카페/디저트,카페,경기 고양시 일산동구 마두동 751
140,2018-03-20 12:13:21,4684905,우리카드(6573),30000,다니엘동물병원,의료/건강,동물병원,경기 고양시 일산동구 마두동 751-2
36,2018-03-20 15:41:14,783107,우리카드(6573),27000,일산칼국수,외식,한식,경기 고양시 일산동구 백석동 1158-5
225,2018-03-20 20:55:42,7764778,우리카드(6573),32170,진로마트,마트,슈퍼마켓,경기 고양시 일산동구 마두동 724-1
242,2018-03-21 11:40:45,8062913,우리카드(6573),4500,GS25 백마스타점,마트,편의점,경기 고양시 일산동구 마두동 752
154,2018-03-21 11:43:47,5052755,우리카드(6573),6500,스타벅스 일산백마점,카페/디저트,카페,경기 고양시 일산동구 마두동 751
135,2018-03-21 11:54:30,3642111,우리카드(6573),3700,택시,교통,택시,서울특별시 서초구 서초동 1557-7
35,2018-03-21 18:19:15,762740,우리카드(6573),11200,이마트 일산점,마트,대형마트,경기 고양시 일산동구 백석동 1194
194,2018-03-22 23:25:30,6738739,우리카드(6573),45000,부뚜막,외식,한식,서울 중구 명동1가 34-2 1~2층
3,2018-03-22 23:29:04,34629,우리카드(6573),9000,GS25 서정마을점,마트,편의점,"경기 고양시 덕양구 서정마을1로4-13, 행신지구상업용지 B-7블럭 103호 (행..."
155,2018-03-22 23:30:41,5110819,우리카드(6573),25000,갤럭시노래연습장,유흥,유흥,경기도 광명시 광명동 158-195
136,2018-03-23 01:14:21,3642111,우리카드(6573),9360,택시,교통,택시,서울특별시 서초구 서초동 1557-7
201,2018-03-23 11:39:04,6764996,우리카드(6573),6500,스타벅스 한국프레스센터점,카페/디저트,카페,서울특별시 중구 태평로1가 25
137,2018-03-23 11:46:54,3642111,우리카드(6573),3000,택시,교통,택시,서울특별시 서초구 서초동 1557-7
243,2018-03-24 11:40:40,8062913,우리카드(6573),4500,GS25 백마스타점,마트,편의점,경기 고양시 일산동구 마두동 752
286,2018-03-24 11:54:26,8345940,우리카드(6573),5000,이디야커피전문점(서산점),카페/디저트,카페,충청남도 서산시 동문동 194-5
184,2018-03-24 22:31:41,5896458,우리카드(6573),33600,올리브영 태평로1가점,뷰티,화장품,서울 중구 태평로1가 62-2
138,2018-03-25 11:52:50,3642111,우리카드(6573),3000,택시,교통,택시,서울특별시 서초구 서초동 1557-7
167,2018-03-26 00:10:07,5817550,우리카드(6573),9000,GS25 백석으뜸점,마트,편의점,경기 고양시 일산동구 백석동 1259
181,2018-03-26 01:38:19,5823451,우리카드(6573),4900,세븐일레븐 백석역점,마트,편의점,경기도 고양시 일산동구 백석동1308 시티프라자 124호
277,2018-03-26 01:41:09,8255961,우리카드(6573),13000,팝스디브이디영화관,문화,영화,경북 영천시 완산동 1073-9

# cjcis15a3a6205e946d90511c9881d

In [21]:
conn = pymysql.connect(host='133.186.135.222', port=13306, user='eums', password='eums00!q',db='eums-business', charset='utf8')
curs = conn.cursor(pymysql.cursors.DictCursor)
curs.execute("select * from MEUMS_COMP_REVISIT_HIS WHERE EPOPCON_ID = 'cjcis15a3a6205e946d90511c9881d' ;")
comp_p = pd.DataFrame( curs.fetchall() )[['DEAL_DT','COMPANY_ID','CARD_NAME','PAYMENT']]
conn.close()
print(comp_p.shape)
comp_p.head()

(160, 4)

              DEAL_DT  COMPANY_ID   CARD_NAME PAYMENT
0 2017-12-23 18:38:42     5072946  롯데카드(5*2*)   65000
1 2017-12-23 20:31:58      920969  부산BC(8904)   14700
2 2017-12-24 13:54:06     5072946  롯데카드(5*2*)    4000
3 2017-12-24 14:42:21      604881  롯데카드(5*2*)    8800
4 2017-12-24 19:12:24     6253292  부산BC(8904)   10100

In [27]:
conn = pymysql.connect(host='133.186.143.151', port=13306, user='eums', password='eums00!q', db='eums-shared', charset='utf8')
curs = conn.cursor(pymysql.cursors.DictCursor)
curs.execute("select * FROM MEUMS_COMPANY where ID IN "+str(tuple(comp_p.COMPANY_ID.unique()))+";")
company = pd.DataFrame( curs.fetchall() )[['ID','CO_NAME','CATE','CATE1','ADDR','LATITUDE']]
conn.close()

company['COMPANY_ID']=company['ID']
del company['ID']

print(company.shape)
company.head()

(82, 6)

,CO_NAME,CATE,CATE1,ADDR,LATITUDE,COMPANY_ID
0,11번가,온라인쇼핑,온라인쇼핑,경기도 성남시 분당구 판교로 264,37.4967904,14366
1,CU 괘법광장점,마트,편의점,부산광역시 사상구 괘법동 543-19번지,35.1628664699,25707
2,네이버,온라인쇼핑,온라인쇼핑,경기 성남시 분당구 정자동 178-1 NAVER 그린팩토리 1층,37.3595122,46177
3,가락타운주유소,교통,주유소,부산광역시 사상구 엄궁동 158-1,35.1262318,59238
4,김세일한의원,의료/건강,병원,부산 사상구 엄궁동 503-1,35.12935651709133,150193

In [33]:
train = pd.merge(comp_p,company, how='inner', on = ['COMPANY_ID'])
print(train.shape)
train_seoul = train[train['LATITUDE'].astype('float')>36.5]
train_non_seoul = train[train['LATITUDE'].astype('float')<=36.5]
train_seoul.sort_values(by=['DEAL_DT','CATE']).head(50)

(160, 9)

,DEAL_DT,COMPANY_ID,CARD_NAME,PAYMENT,CO_NAME,CATE,CATE1,ADDR,LATITUDE
0,2017-12-23 18:38:42,5072946,롯데카드(5*2*),65000,ABC마트 ST 명동점,패션,신발,서울특별시 중구 명동1가 59-1,37.5644563
1,2017-12-24 13:54:06,5072946,롯데카드(5*2*),4000,ABC마트 ST 명동점,패션,신발,서울특별시 중구 명동1가 59-1,37.5644563
4,2017-12-24 19:12:24,6253292,부산BC(8904),10100,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
23,2017-12-26 14:31:23,5573910,부산BC(8904),19000,호식이두마리치킨독립문점,외식,치킨,서울특별시 서대문구 냉천동 27-6,37.5674345
36,2017-12-28 16:09:06,3568967,부산BC(8904),266000,최강MTM보습학원,교육,학원,서울 강동구 고덕2동 258-9번지,37.5606958
39,2017-12-29 17:54:16,2556881,부산BC(8904),24000,갤러리안경,의료/건강,안경,서울 강남구 압구정동 455 주구센타2호 102호,37.5319073
5,2017-12-29 19:17:32,6253292,부산BC(8904),10000,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
6,2018-01-02 23:04:23,6253292,부산BC(8904),5650,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
7,2018-01-02 23:05:27,6253292,부산BC(8904),2000,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
8,2018-01-03 12:33:35,6253292,부산BC(8904),2990,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
37,2018-01-12 21:51:08,3568967,롯데카드(5*2*),180000,최강MTM보습학원,교육,학원,서울 강동구 고덕2동 258-9번지,37.5606958
64,2018-01-20 23:01:51,8116995,부산BC(8904),20000,지코바숯불양념치킨도화점,외식,치킨,서울특별시 마포구 도화동 324-3,37.5397305
9,2018-01-21 12:26:33,6253292,부산BC(8904),4000,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
65,2018-01-22 14:18:12,5680189,롯데카드(5*2*),11000,뷰림헤어케어 살롱,뷰티,헤어,인천광역시 서구 경서동 850-2,37.5369272
68,2018-01-24 09:19:47,6648739,부산BC(8904),460000,무주덕유산리조트 레저사업부,여행,숙박,서울 중구 서소문동 120-23 부영빌딩 2층,37.56164610666408
69,2018-01-24 12:48:43,6648739,부산BC(8904),-460000,무주덕유산리조트 레저사업부,여행,숙박,서울 중구 서소문동 120-23 부영빌딩 2층,37.56164610666408
70,2018-01-24 13:42:31,6648739,부산BC(8904),116000,무주덕유산리조트 레저사업부,여행,숙박,서울 중구 서소문동 120-23 부영빌딩 2층,37.56164610666408
73,2018-01-25 11:34:15,7942978,부산BC(8904),20000,농업회사법인 갈중이 지사,기업,제조업,서울 종로구 관훈동 196-10 205,37.57342948284428
74,2018-01-25 13:54:42,7373080,부산BC(8904),36900,일등마트,마트,슈퍼마켓,서울 영등포구 문래동6가 38-1,37.51891447226461
10,2018-01-26 17:08:39,6253292,부산BC(8904),22250,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
11,2018-01-27 15:55:41,6253292,부산BC(8904),19800,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
84,2018-01-28 16:49:14,305558,롯데카드(5*2*),10550,롯데리아 롯데마트구로점,외식,패스트푸드,서울 구로구 구로동 636-89,37.49837348001723
87,2018-01-31 13:34:56,7018346,부산BC(8904),25000,엣홈,생활,생활용품,서울 종로구 화동 89,37.58048924469032
38,2018-01-31 17:29:26,3568967,부산BC(8904),320000,최강MTM보습학원,교육,학원,서울 강동구 고덕2동 258-9번지,37.5606958
12,2018-02-02 19:54:35,6253292,부산BC(8904),1200,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
13,2018-02-03 10:49:55,6253292,부산BC(8904),2000,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
92,2018-02-05 13:58:13,6184200,부산BC(8904),15000,성원푸드,외식,일식,서울 마포구 합정동 428-4,37.5535248
93,2018-02-05 15:49:46,6764996,부산BC(8904),16100,스타벅스 한국프레스센터점,카페/디저트,카페,서울특별시 중구 태평로1가 25,37.5673857
94,2018-02-05 15:50:16,6764996,부산BC(8904),4800,스타벅스 한국프레스센터점,카페/디저트,카페,서울특별시 중구 태평로1가 25,37.5673857
95,2018-02-09 13:22:36,549782,부산BC(8904),14000,수타손짜장,외식,중식,서울특별시 강남구 논현동 202-19,37.505273
14,2018-02-10 21:16:53,6253292,부산BC(8904),10900,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
15,2018-02-11 20:49:55,6253292,부산BC(8904),11400,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
96,2018-02-16 15:23:06,6633991,롯데카드(5*2*),150000,두성유통,마트,시장,서울 동대문구 제기동 635-13,37.5799857124937
97,2018-02-16 15:25:45,6633991,롯데카드(5*2*),-150000,두성유통,마트,시장,서울 동대문구 제기동 635-13,37.5799857124937
98,2018-02-16 15:25:46,6633991,롯데카드(5*2*),89940,두성유통,마트,시장,서울 동대문구 제기동 635-13,37.5799857124937
16,2018-02-18 11:07:59,6253292,롯데카드(5*2*),7500,한아름 마트,마트,슈퍼마켓,서울 용산구 후암동 115-1,37.55003089760918
102,2018-02-20 16:28:09,6926250,부산BC(8904),10000,서여주휴게소,여행,휴게소,서울 강남구 논현1동 165,37.5071993
103,2018-02-20 17:27:43,6708727,부산BC(8904),18400,미니스톱 남양주금남점,마트,편의점,경기도 남양주시 화도읍 금남리 338-3,37.6442154
104,2018-02-21 10:57:05,7800044,롯데카드(5*2*),111000,청평얼음꽃축제,여행,명소,경기 가평군 청평면 청평리 134-67,37.7318832
105,2018-02-21 11:15:43,7800044,롯데카드(5*2*),-111000,청평얼음꽃축제,여행,명소,경기 가평군 청평면 청평리 134-67,37.7318832
106,2018-02-21 11:16:03,7800044,롯데카드(5*2*),81000,청평얼음꽃축제,여행,명소,경기 가평군 청평면 청평리 134-67,37.7318832
107,2018-02-21 14:18:18,7426232,부산BC(8904),4450,쁘띠 프랑스,패션,의류,서울 중구 신당동 776,37.568103132328176
108,2018-02-22 09:26:20,2637902,부산BC(8904),56000,전주밥상,외식,한식,서울 서대문구 대현동 90-8,37.55772559087078
109,2018-02-22 15:14:57,7531884,부산BC(8904),19500,삼성물산에버랜드리조트,취미/스포츠,공원,경기 용인시 처인구 포곡읍 전대리 256,37.2914408
110,2018-02-22 19:02:17,7531884,부산BC(8904),3000,삼성물산에버랜드리조트,취미/스포츠,공원,경기 용인시 처인구 포곡읍 전대리 256,37.2914408
112,2018-02-24 13:10:53,6346208,부산BC(8904),3000,진석상사,기업,광업,인천 부평구 부개동 419-6,37.483332
118,2018-02-27 14:52:05,8094735,롯데카드(5*2*),144000,뉴코아아울렛 강남패션관,백화점,아울렛,서울 서초구 잠원동 70-2,37.50927900312808
119,2018-02-27 17:43:09,7710517,롯데카드(5*2*),60000,갤러리경,패션,의류,서울 종로구 관훈동 8-2,37.5734404
122,2018-03-04 16:17:04,7816480,부산BC(8904),6000,컴포즈커피 종로구청점,카페/디저트,카페,서울 종로구 종로1가 24 1층,37.57079781217417
123,2018-03-04 17:40:43,5813730,롯데카드(5*2*),314300,이랜드리테일 본사,패션,의류,서울 마포구 창전동 19-8 이랜드빌딩,37.55005318965965

In [ ]:
# 한 사람이 스타벅스를 얼마나 많이 갔는지 확인하려면..
# 스타벅스를 간 user_id를 찾느다.
# user_id별로 스타벅스를 간 횟수를 찾는다.
1)
 # 횟수가 많은 사람과 적은 사람의 그룹을 나눈다.
 # 각 그룹에서 1517시간 방문자의 user명수를 찾는다.
2)
 # 1517시간에 결제한 사람들의 카페방문간격을 보자.
 # 1517시간대에 스벅방문한 사람들의 전체동선을 파악한다.